body {
  background-color: #9FD0FF;
  padding: 2em;
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#nav-list, .nav-list-item {
  display: inline;
  font-size: 1.5em;
}

#nav-list {
  padding-top: 55px;
  padding-left: 40px;
}

.nav-list-item {
  padding: 10px;
  font-family: sans-serif;
  cursor: pointer;
}

.nav-list-item:hover {
  background-color: #44729F;
  /* color: #9FD0FF; */
  border-radius: 5px;
}

